//Colors
$firstColor1: rgb(30, 43, 59);
$firstColor2: rgb(79, 70, 229);
$firstColor2Hover: rgb(65, 58, 181);
$secondColor1: rgb(14, 165, 233);
$secondColor1Hover: rgb(17, 141, 199);
$secondColor2: #2f4865;
$errorColor: #dc3545;
$errorColorHover: #be1929;